
body{
    padding: 0;
    margin: 0;
    font-family: Montserrat,Philosopher,Roboto;
    
}



/*========================   Nav manu ==================*/
.section-bg-1{
	background-image: url(img/foterone.png);
	background-size: cover;
	background-position: center;
}
.section-bg-2{
	background-image: url(img/chekboxbg.jpg);
	background-size: cover;
	background-position: center;
}

html, body, .full-height {
  /*! /*! height: 100%; */ */
;
  height: 100%;
}
.section-table {
  display: table;
  height: 100%;
  width: 100%;
}
.section-tablecell {
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.single-service-item {
  color: #fff;
}
body {
  max-height: 100%;
  font-size: 15px;
  line-height: 1.8;
}
.overlay {
  position: relative;
  z-index: 1;
}
.overlay::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #000;
  z-index: -1;
  opacity: .6;
}
.single-service-item {
  position: relative;
  z-index: 2;
  padding: 30px;
  text-align: center;
}
.single-service-item::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: #000;
  opacity: .5;
  z-index: -2;
}
.section-padding.full-height {
  padding: 0;
}
.social-icon {
  font-size: 100px;
  line-height: 120px;
}
.single-service-item h2 {
  font-size: 25px;
}
.learmore-btn {
  color: #fff;
}
.video-paly-box{
	color: #fff;
	text-align: center;
	transition: .3s;	
}
.video-btn {
	height: 100px;
	width: 100px;
	line-height: 100px;
	display: inline-block;
	background: #fff;
	color: #333;
	font-size: 25px;
	margin-top: 15px;
	border-radius: 50%;
}



